.expenses {
  border: 1px solid #EFEFEF;
  margin: 30px;
  padding: 15px;
  box-shadow: 1px 3px 5px #888888; 
}
.expenses h2 {
  margin-bottom: 15px;
}
div.pure-controls button {
  margin-top: 10px;
}